
/* notes: spend some time making comments on how Flexbox and Grid are working here and
personalize this portfolio page using google fonts, different colors, different hover and active styling, maybe a different layout or viewport response
/* CSS HEX 
--gainsboro: #dbdbdbff;
--silver-chalice: #b0b5b3ff;
--midnight-green-eagle-green: #104f55ff;
--myrtle-green: #32746dff;
--dark-green: #01200fff;*/
*{
    box-sizing: border-box;
    margin: 0 auto;
}
/* @font-face {
    font-family: paci;
    src: url(../font/Pacifico.ttf);
  } */
body{
    background-color: #dbdbdbff;
}

 header{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(to bottom, #b0b5b3ff,#dbdbdbff); 
    padding: 20px;
}
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(to top, #b0b5b3ff,#dbdbdbff); 
    padding: 20px;
}

main {
    font-family: 'Times New Roman', Times, serif; /* try using a google font instead*/
    border: 1px, solid, black;
    color: #01200fff;;
}

nav {
    width: 960px;
    height: 100px;
}

#nav-links {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-left: 1em;
    margin-right: 1em;
}
a{  
    text-decoration: none;
    color: #01200fff;
}
a:hover {
    box-shadow: inset 300px 0 0 0 #104f55ff;
    color: white;
  }
#home {
    flex: auto;
    padding: 20px;
 }

#nav-links li{
    padding: 1em; /* what does em mean?*/
}

#projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* what does fr mean?*/
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 80px; 
    margin: 20px 20px 80px 20px;
}

#page_title{
    font-family: paci;
    font-size: 60px;
    color:#104f55ff;
    grid-row: 4/6;
    text-align: center;
    max-width: 100%;
    padding: 40px 20px;
}
p{
    padding: 5px 20px 5px 20px;
}

.project_item {
    display: grid;  /* we have a grid inside a grid here, with each item as its own grid*/
    grid-template-rows: 300px 50px 30px 1fr;
    grid-template-areas:
    "image"
    "number"
    "title"
    "description";
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    align-items: center;
    background: #dbdbdbff; /*  play with color*/
}
.project_image { 
    grid-area: image; 
    /* border-radius:20px; */
}
.project_number { 
    grid-area: number; 
}
.project_title { 
    grid-area: title; 
}
.project-description { 
    grid-area: description; 
}

#footer-items{
    display: flex;
    list-style-type: none;
    box-sizing: border-box;
    width: 960px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;

}

@media only screen and (min-width: 601px) and (max-width: 850px){ /* what is going on here?*/
    #projects-grid{
    grid-template-columns: 1fr 1fr;
    }
    #page_title{
        grid-column: 1/3;
    }
}

@media only screen and (max-width: 600px){
    #projects-grid{
    grid-template-columns: 1fr;
    margin: 20px 20px 0px 20px;
    row-gap: 50px;
    }
    #page_title{
        grid-column: 1/2;
    }
    p{
        padding: 20px 50px 20px 50px;
    }
    header{
        font-size: 15px;
    }

    #footer-items{
        display: flex;
        list-style-type: none;
        font-size: 15px;
        text-align: center;
        font-size: 5px;
        flex-direction: row;
    }
}
